body {
	padding-top: 50px;
}

.em-text{
	color:#1caa98 !important;
}

section{
	padding: 40px 0 40px 0;
}

.jumbotron{
	background: url(images/Abbas.png) no-repeat top center;
	color: #fff;
	height: 598px;
	overflow: none;
}


.jumbotron h1{
	margin-top: 60px;
}

.jumbotron p{
	margin-bottom: 40px;
}
.jumbotron img.app-btn{
	width: 40%;
	margin-right: 30px;

}

.jumbotron img.showcase-img{
	width: 50%;
}

img.Demmo{
	width: 100%;
	padding: 3px;
	border: 1px solid #ccc;
}

section#feature{
	background:#1caa98;
	color: #fff;
	padding: 40px;
	overflow: auto; 
}

section#feature ul li{
	font-size: 22px;
	list-style: none;
	line-height: 2.0em;
}

section#title-bar{
	padding: 0;
	margin: 0;
	height: 80px;
	background:#1caa98;
	color: #fff;
}

section#title-bar h1{
	margin-bottom: 20px;
}

footer{
	background: #333;
	color: #fff;
	padding: 30px 0 20px 0;
}

footer li{
	float: left;
	padding: 0 10px 0 10px;
	list-style: none;
}

footer a{
	color: #fff;
}

footer p{
	float: right;
}

/*MEDIA QUIERES*/

@media(max-width: 1200px){

}

@media(max-width: 991px){
      .img.jpg{
      	display: none;
      }
}

@media(min-width: 768px) and (max-width: 990px){
	.jumbotron img.app-btn{
	width: 30%;
}
 
 .jumbotron{
 	height: 400px !important;
 	background-size: 100% 100%;
 }   

 .jumbotron h1{
 	margin-top: 10px;
 }    
}

@media(min-width: 768px;){

}

@media(max-width: 500px;){

}

.form-control:focus {
    border-color: #CCCCCC; 
    outline: 0;
    -webkit-box-shadow: none; 
    box-shadow: none; 
}